*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /* we declare it first like that so 1 rem = 10px */
  /* then we convert to % by dividing 10/16 x 100 = .625 */
  /* finally .625 x 100 = 62.5% */
}

body {
  box-sizing: border-box;
}